WEBHOOK_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/ingestPropertyData
GET_TARGET_URLS_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/getTargetUrls
ADD_DISCOVERED_URLS_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/addDiscoveredUrls
WEBHOOK_SECRET=your_secret_token_here
SEARCH_API_KEY=your_google_search_api_key_here
SEARCH_ENGINE_ID=your_google_search_engine_id_here
