WEBHOOK_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/ingestPropertyData
GET_TARGET_URLS_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/getTargetUrls
ADD_DISCOVERED_URLS_URL=https://us-central1-imobiliaria-ai-joaopessoa.cloudfunctions.net/addDiscoveredUrls
WEBHOOK_SECRET=your_secret_token_here
